* {
    margin: 0;
    padding: 0;
  }
  
  .form-container {
    max-width: 544px;
  }
  
  .form {
    background: #ffffff;
    box-sizing: border-box;
    padding: 40px;
    font-family: "Inter", sans-serif;
    max-width: 400px;
  }
  
  .form__title {
    font-weight: bold;
    font-size: 33px;
  }
  
  .form__fieldset {
    border: none;
    border-bottom: 1px solid #cfcfcf;
    padding-bottom: 40px;
  }
  
  .form__fieldset:last-of-type {
    border: none;
  }
  
  .form__label {
    display: block;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 12px;
    margin-top: 32px;
  }
  
  .form__input {
    background: #ffffff;
    border: 1px solid #cfcfcf;
    box-sizing: border-box;
    padding: 20px 24px;
    font: inherit;
  }
  
  .form__input[type="text"],
  .form__input[type="email"],
  .form__input[type="date"],
  .form__input[type="number"],
  .form__input_type_select {
    border-radius: 30px;
    min-width: 400px;
    min-height: 60px;
  }
  
  .form__input[type="radio"] {
    border-radius: 4px;
    min-width: 28px;
    min-height: 28px;
  }
  
  .form__input[type="range"] {
    min-width: 400px;
    padding: 10px;
  }
  
  .form__input::placeholder {
    font-size: 16px;
    color: #8b8b8b;
  }
  
  .form__input_text {
    border-radius: 30px;
    min-width: 400px;
    min-height: 180px;
  }
  
  .form__input_attach {
    border: none;
    padding: 0;
  }
  
  .form__radio-buttons {
    display: flex;
    align-items: center;
  }
  
  .form__radio-buttons > .form__label {
    margin: 0 12px;
    font-weight: 400;
  }
  
  .form__button[type="submit"] {
    min-width: 117px;
    min-height: 60px;
    background: #2f71e5;
    border-radius: 100px;
    color: #ffffff;
    font-size: 18px;
    border: none;
    margin-top: 40px;
  }
  
  .form__button[type="reset"] {
    border: none;
    background: none;
    color: #2f71e5;
    font-size: 16px;
    margin-left: 20px;
  }